    .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(11, 130, 241);
    padding: 22px;
    box-shadow: 3px 3px 18px 3px rgb(27 27 27 / 25%);
    white-space: nowrap;
    }
        @media (max-width:767px) {
            .header  {
                padding:1rem;

            }
        }
    .header .header__title h1 {
    font-weight: bold;
    font-size: 38px;
    color: #fff;
    }
    @media (max-width:767px) {
    .header .header__title h1{
    font-size: 1.2rem;
    }
    }
    .header .header__balance {
    background-color: #fff;
    color: rgb(11, 130, 241);
    font-size: 22px;
    font-weight: bold;
    padding: 1rem;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    }
    @media (max-width:767px) {
    .header .header__balance{
    padding: 12px;
    font-size: 1rem;
    }}