    .list{
    color: rgb(11, 85, 119);
    font-weight: bold;
    font-size: 28px; 
    margin-bottom: 1rem;
    }
    @media (max-width:767px) {
    .list {
    font-size: 20px;
    }
    }
    .task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #540000;
    border-bottom: 3px solid #2aa57c;
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
    }
    .task span{
    padding: 4px;
    }
    .title{
    color:  rgb(0 118 185);
    font-size: 24px;
    font-weight: bold;
    text-transform: capitalize;
    min-width: 25%;
    }

    @media (max-width:767px) {
    .title{
    font-size: 14px !important;
    }
    .task {
    padding-bottom: 1rem;
    }
    .task ,
    .task p , .task span{
    font-size: 12px;
    }
    .task p {
    font-size: 10px;
    }
    }
    .task-list{
    background-color: rgb(76 182 199);
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding: 0.5rem;
    border-radius: 0.7rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    }
    @media (max-width:767px) {
        .task-list{
            font-size: 1rem;
        }
    }
    .price{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #275c81;
    min-width: 20%;
    font-size: 1.4rem;
    }
    .date{
    color: rgb(66 89 103);
    font-size: 18px;
    min-width: 20%;
    }
    @media (max-width:767px) {
    .empty-data{
    font-size: 18px;
    }
    }
    button{
    background-color: red;
    color: #fff ;
    font-size: 12px;
    font-weight: bold; 
    padding: 0.5rem;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    min-width: 5%;
    margin-left:0.5rem ;
    }
    button:hover{
    background-color: #fff;
    color: red;
    }
    .task.active{
    position: relative;
    opacity: 0.5;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    /* width: 0px; */
    }
    .task.active::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: rgb(93 157 192);
    opacity: 1 !important;
    }
    .task.active button{
    pointer-events:none;
    }
